:root{
    --main-color: #100D37;
    --secondary-color: #383472;

    --font-primary: white;
    --font-secondary: rgba(255, 255, 255, 0.322);
    --font-type: 'Poppins', sans-serif;
    --border-radius: 30px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: var(--main-color);
    color: var(--font-primary);
    font-family: var(--font-type);
}

main{
    width: 90%;
    margin: auto;
    
}

/***** Landing Styling *****/
#landing{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0em 3em;
    
}

#landing .text-container{
    width: 100%;
    padding: 1em;
    line-height: 2em;
}

#landing .text-container h1{
    margin-bottom: 1.5em;
    letter-spacing: .1em;
}

#landing .image-container img{
    height: 32em;
    padding: 2em;
}

/***** Crupto Container Styling *****/
#crypto-container{
    display: flex;
    flex-direction: column;
    align-items: center;
   /* background-color: rgb(140, 127, 255); */
    padding: 2em;
}

#crypto-container #search-bar input[type=text]{
    width: 40em;
    padding: .8em 3em;
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--secondary-color);
    color: var(--font-primary);
}

#crypto-container #search-bar input[type=text]:focus{
    outline: none;
}


#crypto-container #search-bar input[type=submit]{
    height: 2.5em;
    margin: 6px;
    width: 120px;
    background: rgb(140, 127, 255);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: Consolas, Courier New, monospace;
    border: solid transparent 1px;
    font-size: 13px;
    color: var(--font-primary);
    -webkit-transition: 500ms;
    transition: 500ms;
    border-radius: 5px;
    background: linear-gradient(145deg, rgb(104, 92, 206), rgb(81, 20, 179));
    
  }
  
  #crypto-container #search-bar input[type=submit]:hover {
    -webkit-box-shadow: 1px 1px 13px rgb(133, 131, 131),
                      -1px -1px 33px #545b78;
    box-shadow: 1px 1px 13px rgb(57, 54, 92),
               -1px -1px 10px rgb(65, 62, 95);
    color: #d6d6d6;
    -webkit-transition: 500ms;
    transition: 500ms;
  }
  
  #crypto-container #search-bar input[type=submit]:active {
    -webkit-box-shadow: 1px 1px 13px #20232e,
                       -1px -1px 33px #545b78;
    box-shadow: 1px 1px 13px #20232e,
               -1px -1px 33px #545b78;
    color: #d6d6d6;
    -webkit-transition: 100ms;
    transition: 100ms;
  }

::placeholder{
    color: var(--font-secondary);
}

/***** Footer Styling *****/
footer{
    background-color: var(--secondary-color);
    text-align: center;
    color: white;
    margin-top: 5em;
    padding: 3em 0em;
}

footer .contacts{
    display: flex;
    justify-content: space-around;
    margin-top: 1em;
}

footer hr{
    width: 75%;
    margin: auto;
    color: aqua;
    border: 0.0005px solid#ffffff;
    margin: 2em auto;
}





